<section class="career-card">
  
  <h1>We are the amazing GERMS!</h1>
  <h2 class="career-title">{{ career.title }}</h2>
  <image class="career-icon" src="{{ career.icon }}" alt="{{ career.title }}">
  <p class="career-tagline"> {{ career.tagline }}</p>

</section>
